// font-family: 'Monoton', cursive;
// font-family: 'Ruda', sans-serif;
// login page stylings
.login{
  background-image: url('http://wallpapercave.com/wp/f2PgubU.jpg');
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
  color:white;
  min-height: 100vh;
}

.login h1{
  font-family: 'Monoton', sans-serif;
  font-size: 5rem;
  text-align: center;
  color:#9593E6;
  margin: 0;
}

.login  h2{
  font-family: 'Ruda', sans-serif;
  text-align: center;
  color:#FBF5ED;
  margin: 0;
}
.login .loginTxt{
  font-family: 'Monoton', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  color:#9593E6;
  margin: 0;
}
.login h3{
  font-family: 'Ruda', sans-serif;
  text-align: center;
  color:#FBF5ED;
  margin: 0;
}

.login form{
  width: 40%;
  padding: 2%;
  margin-left: 30%;
  font-family: 'Ruda', sans-serif;
  text-align: center;
}

#textbox{
      width: 35%;
      height:5vh;
      margin-left: 1%
}

#submit{
float: right;
font-size: 1.2rem;
background-color: #9593E6;
border: none;
padding: 1%;
}

.login p{
  color:#FBF5ED;
}

// searchpage stylings
.band{
  background-image: url('  http://static1.squarespace.com/static/54698da9e4b0dc0a73f328ea/t/54699203e4b0e3880c8fa5fa/1416204804495/MUSIC+BACKGROUND.jpg?format=1500w');
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
  color:white;
  min-height: 100vh;
  margin-top: -35px;
      background-attachment: fixed;

}
.band h1{
  font-family: 'Monoton', sans-serif;
  color:black;
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10vh;

}

.band h2{
  font-family: 'Ruda', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #393939;
}

.band a{

  color: black;
  font-family: 'Ruda', sans-serif;
    text-decoration: none;
}

.band a:hover{
background-color:#F0F0F0;
padding: 1%;
}

.band form{
  color: black;
  font-family: 'Ruda', sans-serif;
    text-decoration: none;
    text-align: center;
margin-top: 5vh;
}

#bandSearch{
height: 3vh;
width: 30%;
}

#bandSubmit{
  font-size: 2rem;
padding: 1%;
}

.bandPhoto{
  width: 100%;
  max-height: 35vh;
  overflow: hidden;
}

.band li{
  list-style: none;
    display: inline-block;
    width: 33%;
    margin: 5%;
    font-size: 2rem;
    color: white;
    font-family: 'Ruda', sans-serif;
    background-color: #393939;
    padding:3%;

}

li form{
      display: inline;
}

.voteButton{
  float:left;
  padding:1%;
  font-size: 1.5rem;
}

// modal stylings

.modal{
  width: 50%;
opacity: .6;
background: white;
position: fixed;
bottom: 11vh;
left: 25%;
}

// Vote Results
//
// .bandPhoto2{
//   max-height: 35vh;
//   overflow: hidden;
//   width: 100%;
// }
//
// #voteDiv{
//   background-image: url('  http://static1.squarespace.com/static/54698da9e4b0dc0a73f328ea/t/54699203e4b0e3880c8fa5fa/1416204804495/MUSIC+BACKGROUND.jpg?format=1500w');
//   -webkit-background-size: cover;
//    -moz-background-size: cover;
//    -o-background-size: cover;
//    background-size: cover;
//    background-repeat: no-repeat;
//   min-height: 100vh;
//   margin-top: -35px;
//   background-attachment: fixed;
//
// }
//
// .voteList{
//   list-style: none;
//   font-family: 'Ruda', sans-serif;
//    background-color: white;
//    color:black;
//    margin-bottom: 15px;
//    text-align: center;
//    padding: 5%;
//    width: 245%;
// }
//
// #voteUl{
//   display: table-caption;
//   font-size: 2rem;
//   font-family: 'Monoton', cursive;
//   text-align: center;
//   padding-left: 69%;
// }
//
// #voteResult{
//   text-align: center;
//     color:white;
//     padding-top: 11vh;
// font-size: 3rem;
// }
//
// .voteButton{
//   font-size: 2rem;
//
// }
